.page-container {
    height: 100%;
    width: 100%;
    display: grid;
}

.box-container
{
    margin: auto;
    margin-top: 35vh;
    text-align:center;
    width: 105px;
    height: 105px;
    position: relative;
}

.box1 {
    background-color: #F44E24;
    height: 50px;
    width: 50px;
    left: 0px;
    top: 0px;
    position: absolute;
    animation: spin 3s infinite;
}

.box2 {
    background-color: #81B900;
    height: 50px;
    width: 50px;
    right: 0px;
    top: 0px;
    position: absolute;
    animation: spin 3s infinite;
    
}

.box3 {
    background-color: #01A4EF;
    height: 50px;
    width: 50px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    animation: spin 3s infinite;
}

.box4 {
    background-color: #FFB902;
    height: 50px;
    width: 50px;
    bottom: 0px;
    right: 0px;
    position: absolute;
    animation: spin 3s infinite;
}


@keyframes spin {
    0%{
        transform: rotate(90deg);
    }
    20% {
        transform: rotate(180deg);
    }
    40%{
        transform: rotate(270deg);
    }
    60%, 100% {
        transform: rotate(360deg);
    }
}